
__pycache__/.DS_Store
*.pth
demo_data/example/GT/.DS_Store
demo_data/example/img/.DS_Store
demo_data/example/dist_img/.DS_Store
*.pyc
demo_data/example/DetectRes/.DS_Store
demo_data/example/.DS_Store
demo_data/example/DetectRes/color_img/.DS_Store
demo_data/example/DetectRes/heatmap/.DS_Store
assets/.DS_Store
.DS_Store
